@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.main.about-page {
  .info {
    &__container {
      padding-top: fn.cmin(40, 97);
      padding-bottom: fn.cmin(60, 156);
      border-top: 1px solid #c2cddd;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: fn.cmax(24, 40);
      max-width: 472px;
    }

    &__text-block {
      display: flex;
      flex-direction: column;
      gap: fn.cmax(24, 56);
    }

    &__link {
      display: flex;
      gap: 12px;
      align-items: center;
      color: var(--pink);

      &-icon {
        width: 9px;
        height: 13px;
      }
    }
  }
}
