mixin info
  section.info
    .container.info__container
      .row.gy-5
        .col-6.col-md
          .info__content 
            .info__text-block
              h2.info__title.title Лидеры
              p.info__desc Познакомьтесь с руководителями нашей компании и их ключевыми направлениями работы.
            a.info__link(href="#") 
              span Узнать больше
              svg.info__link-icon
                use(xlink:href="./assets/sprite.svg#about--arrow-right")
        .col-6.col-md
          .info__content 
            .info__text-block
              h2.info__title.title Активы
              p.info__desc Структура генерирующих наших активов представлена газовой и возобновляемой генерацией.
            a.info__link(href="#") 
              span Узнать больше
              svg.info__link-icon
                use(xlink:href="./assets/sprite.svg#about--arrow-right")
      