mixin worth
  section.worth
    .container.worth__container 
      .row.gy-3
        .col-5.col-md.worth__item-order
          .worth__banner 
            img.worth__banner-img(src="@/assets/img/about/worth.svg", alt="")
        .col-7.col-md
          .worth__content
            .worth__wind.worth__wind_1
              div
                img.worth__wind-img(src="@/assets/img/about/wind.png", alt="")
            .worth__text-block
              h2.worth__title.title Ценности ЭЛ5-Энерго
              p.worth__desc Мы создаем общие ценности, основанные на 5 ключевых принципах.
            .worth__wind.worth__wind_2
              div
                img.worth__wind-img(src="@/assets/img/about/wind.png", alt="")
            