mixin hero 
  section.hero 
    .container.hero__container 
      .hero__content 
        h1.hero__title Управляя миром энергии 
        p.hero__desc Сохранять наследие, совершенствовать начатое и развивать новое, производя надежную и доступную энергию
    .hero__poster-block 
      img.hero__poster(src="@/assets/img/hero.jpg", alt="")
