mixin history
  section.history
    .container.history__container
      .row.history__list
        .col-6.col-lg.history__item-order
          .history__content
            h2.history__title.title История
            .history__desc-block
              p ПАО «ЭЛ5-Энерго» — энергогенерирующая компания, чьим мажоритарным акционером является ПАО «Лукойл». 
              p Мы обеспечиваем электро- и теплоснабжение промышленных предприятий и бытовых потребителей в регионах присутствия компании. 
            a.history__btn.btn(href="#") Узнать больше
        .col-5.col-lg
          img.history__img(src="@/assets/img/history.jpg" alt="")
