@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.main.about-page {
  color: var(--black);
  font-weight: 400;
  font-size: 0.9rem;
  font-family: Roobert, sans-serif;
  font-style: normal;
  line-height: 1.2;
  background: var(--white);

  .container {
    width: 100%;
    max-width: calc(vars.$container + (vars.$padding * 2));
    margin: 0 auto;
    padding-right: vars.$padding;
    padding-left: vars.$padding;
  }

  .title {
    font-weight: 700;
    font-size: 1.35rem;
    line-height: 1.18;
  }

  .btn {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 18px 44px;
    color: var(--pink);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.2;
    border: 1px solid var(--pink);
    border-radius: 87px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover,
    &:focus-visible,
    &:active {
      color: var(--white);
      background: var(--pink);
    }

    svg {
      width: 22px;
      height: 22px;
    }
  }
}
